button {
  svg-icon {
    display: flex;  /* Otherwise a gap is left under icon (whitespace in HTML?) */
  }
  svg {
    height: $icon-button-img-size;
    min-height: $icon-button-img-size;
    min-width: $icon-button-img-size;
    width: $icon-button-img-size;
  }
}
