@mixin scrollbars($size: 0.4em,
                  $foreground-color: var(--app-scrollbar-thumb),
                  $background-color: var(--app-scrollbar-track)) {
  &::-webkit-scrollbar {
    width: $size;
    height: $size;
  }
  &::-webkit-scrollbar-thumb {
    background: $foreground-color;
  }
  &::-webkit-scrollbar-track {
    background: $background-color;
  }
  scrollbar-color: $foreground-color $background-color;
}
