@import "variables";

@mixin button() {
  background-color: var(--app-button-bg);
  border: 1px solid var(--app-button-border);
  border-radius: 2px;
  color: var(--app-button-color);
  display: inline-block;
  padding: 2px 8px;

  &[disabled] {
    background-color: var(--app-button-disabled-bg);
    border-color: var(--app-button-disabled-border);
    color: var(--app-button-disabled-color);
  }
}

@mixin image-button() {
  padding: 0;

  svg-icon {
    display: flex;  /* Otherwise a gap is left under icon (whitespace in HTML?) */
    padding: 2px;
  }
  svg {
    height: $icon-button-img-size;
    min-height: $icon-button-img-size;
    min-width: $icon-button-img-size;
    width: $icon-button-img-size;
  }
}

@mixin scrollbars($size: 0.4em,
                  $foreground-color: var(--app-scrollbar-thumb),
                  $background-color: var(--app-scrollbar-track)) {
  &::-webkit-scrollbar {
    width: $size;
    height: $size;
  }
  &::-webkit-scrollbar-thumb {
    background: $foreground-color;
  }
  &::-webkit-scrollbar-track {
    background: $background-color;
  }
  scrollbar-color: $foreground-color $background-color;
}

%modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .background {
    animation: $animation-duration-fast fade-in both;
    background-color: var(--app-modal-overlay-bg);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  form {
    animation: $animation-duration fade-in $animation-delay both,    /* Add an animation delay equal to the overlay animation duration to */
               $animation-duration slide-up $animation-delay both;   /* wait for the overlay to appear before animation in the dialog */
    background-color: var(--app-form-bg);
    border: 1px solid var(--app-form-border);
    padding: 0 $form-padding $form-padding;
    max-width: 400px;   /* Limit width if screen is wider than 400px */
    width: 100%;
    z-index: 2;

    &::before {
      /* Create a dummy header */
      background-color: var(--app-form-header-bg);
      color: var(--app-form-header-color);
      content: attr(aria-label);
      display: block;
      line-height: 1;
      margin: 0 (-1 * $form-padding);
      padding: 0.5em;
    }
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
  }
  @keyframes slide-up {
    from {
      transform: translateY(10%);
    }
  }
  @media (prefers-reduced-motion: reduce) {
    form {
      animation: none;
    }
  }
}
