$form-padding:         1em;
$control-padding:   0.75em;

$icon-button-img-size: 14px;

$animation-duration:      300ms;
$animation-duration-fast: 150ms;
$animation-delay:         100ms;

$font-family-mono: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
